.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#C9B79C;
}

.content {
  display: flex;
  height: 30%;
  width: 30%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.575);
  padding: 15px;
  border-radius: 25px;
}
.header {
  width:100%;
}
.list {
  width: 100%;
  height: 200px;
  padding:10px;
}

.footer {
  width: 100%;
  height: 40px; 
  overflow: hidden;
}

.left-footer {
  width: 20%; 
  float: left;
}

.rigth-footer {
  width: 75%; 
  padding: 2px;
}

body,
html,
#root {
  height: 100%;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

